/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

/**
 * Workflow webfonts definitions.
 *
 * Extracted from https://github.com/guardian/guss-webfonts v2.1.1 for compatibility with lib-sass.
 */
@font-face {
  font-family: "GuardianTextEgyptianWeb";
  src: url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.eot");
  src: url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.woff2") format("woff2"), url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.woff") format("woff"), url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.ttf") format("truetype"), url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Medium.svg#GuardianAgateSans1Web") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "GuardianTextEgyptianWeb";
  src: url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.eot");
  src: url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.woff2") format("woff2"), url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.woff") format("woff"), url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.ttf") format("truetype"), url("/assets/stylesheets/shared/fonts/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.svg#GuardianAgateSans1Web") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "GuardianAgateSans1Web";
  src: url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Regular.eot");
  src: url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Regular.woff2") format("woff2"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Regular.woff") format("woff"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Regular.ttf") format("truetype"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Regular.svg#GuardianAgateSans1Web") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "GuardianAgateSans1Web";
  src: url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-RegularItalic.eot");
  src: url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-RegularItalic.woff2") format("woff2"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-RegularItalic.woff") format("woff"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-RegularItalic.ttf") format("truetype"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-RegularItalic.svg#GuardianAgateSans1Web") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: "GuardianAgateSans1Web";
  src: url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Bold.eot");
  src: url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Bold.woff2") format("woff2"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Bold.woff") format("woff"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Bold.ttf") format("truetype"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-Bold.svg#GuardianAgateSans1Web") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "GuardianAgateSans1Web";
  src: url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-BoldItalic.eot");
  src: url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-BoldItalic.woff2") format("woff2"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-BoldItalic.woff") format("woff"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-BoldItalic.ttf") format("truetype"), url("/assets/stylesheets/shared/fonts/GuardianAgateSans1Web/GuardianAgateSans1Web-BoldItalic.svg#GuardianAgateSans1Web") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: "GuardianTitlepieceWeb";
  src: url("/assets/stylesheets/shared/fonts/GuardianTitlepieceWeb/GuardianTitlepieceWeb-Regular.eot");
  src: url("/assets/stylesheets/shared/fonts/GuardianTitlepieceWeb/GuardianTitlepieceWeb-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/stylesheets/shared/fonts/GuardianTitlepieceWeb/GuardianTitlepieceWeb-Regular.woff2") format("woff2"), url("/assets/stylesheets/shared/fonts/GuardianTitlepieceWeb/GuardianTitlepieceWeb-Regular.woff") format("woff"), url("/assets/stylesheets/shared/fonts/GuardianTitlepieceWeb/GuardianTitlepieceWeb-Regular.ttf") format("truetype"), url("/assets/stylesheets/shared/fonts/GuardianTitlepieceWeb/GuardianTitlepieceWeb-Regular.svg#GuardianAgateSans1Web") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

/**
 * Workflow typography.
 *
 * Extracted from https://github.com/guardian/guss-typography for sass-lib compatibility.
 */
.top-toolbar__title .top-toolbar__letter, .top-toolbar__title:hover .top-toolbar__title__hover-state .top-toolbar__title__hover-state__title, .top-toolbar__title:hover .top-toolbar__title__hover-state .top-toolbar__title__hover-state__subtitle {
  font-family: "GuardianTitlepieceWeb", Georgia, serif;
  font-weight: 400;
  font-style: normal; }

.top-toolbar__item,
.top-toolbar__item--highlight {
  font-family: "GuardianAgateSans1Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.top-toolbar__item,
.top-toolbar__item--highlight, .top-toolbar__title:hover .top-toolbar__title__hover-state .top-toolbar__title__hover-state__subtitle {
  font-size: 13px;
  line-height: 18px; }

.links .links__item {
  font-size: 14px;
  line-height: 19px; }

.top-toolbar__title:hover .top-toolbar__title__hover-state .top-toolbar__title__hover-state__title {
  font-size: 18px;
  line-height: 23px; }

.top-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  min-height: 50px;
  max-height: 50px;
  background-color: #dee2e3;
  z-index: 2;
  line-height: 50px; }

.header__children {
  flex-grow: 2; }

.top-toolbar__item,
.top-toolbar__item--highlight {
  position: relative;
  padding: 0 15px;
  line-height: 50px;
  cursor: pointer;
  text-decoration: none;
  color: #333333; }
  .top-toolbar__item:hover,
  .top-toolbar__item--highlight:hover {
    background-color: #bdbdbd; }
  .top-toolbar__item--active:after,
  .top-toolbar__item--highlight--active:after {
    content: " ";
    display: block;
    height: 3px;
    width: 100%;
    bottom: 47px;
    left: 0;
    background-color: #00adee;
    position: absolute; }

.top-toolbar__item--highlight {
  background-color: #00adee;
  color: white; }
  .top-toolbar__item--highlight a {
    color: white !important; }
  .top-toolbar__item--highlight:hover {
    background-color: #008fc5; }

.top-toolbar__title {
  flex: 0 0 160px;
  position: relative;
  font-size: 18px;
  line-height: 50px;
  background-color: #bec5c6;
  margin: 0;
  border-right: 1px solid #dcdcdc;
  display: flex;
  text-decoration: none;
  color: black; }
  .top-toolbar__title .top-toolbar__letter {
    border-right: 1px solid #dcdcdc;
    padding: 0 10px;
    font-size: 20px;
    flex: 0 0 50px; }
  .top-toolbar__title .top-toolbar__page-title {
    flex: 1 1 auto;
    font-size: 18px;
    margin: 0px; }
  .top-toolbar__title .top-toolbar__title__hover-state {
    display: none; }

.top-toolbar__title:hover .top-toolbar__title__hover-state {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  line-height: 21px;
  padding-left: 10px;
  padding-top: 2px; }
  .top-toolbar__title:hover .top-toolbar__title__hover-state span {
    color: white; }

.top-toolbar__letter, .top-toolbar__page-title {
  display: inline-block;
  text-align: center;
  line-height: 55px; }

.links {
  display: block;
  text-align: right; }
  .links .links__item {
    vertical-align: middle;
    display: inline-block;
    vertical-align: top;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-left: 1px solid #bdbdbd; }
    .links .links__item a {
      display: inline-block;
      text-decoration: none;
      color: #333333; }

.top-toolbar__right-align {
  margin-left: auto;
  display: flex; }
  .top-toolbar__right-align .top-toolbar__user {
    border-left: 1px solid #bdbdbd;
    cursor: pointer; }

.header__component {
  display: inline-block;
  height: 50px;
  line-height: 50px; }

body {
  background: fuchsia;
  padding: 50px; }

a {
  color: #00B7FF; }
