@import "shared/reset";
@import "shared/webfonts";
@import "shared/typography";
@import "shared/colours";

@import 'components/header';

body {
    background: $c-grey-100;
    margin-top: $size-header-height;
    padding: 1rem;
    //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
